body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}

form label {
    font-weight: bold;
}

form .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

form .btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
}

form .btn-primary:hover {
    background-color: #0056b3;
}

footer {
    background-color: #343a40;
    color: white;
    margin-top: 20px;
}

footer span {
    font-size: 1rem;
}
